<!-- views/partials/_header.ejs -->


<h1> TinyApp </h1>
<form method="POST" action="/login">
        <label for="Username">  Name: </label>
        <input type="text" name="name" placeholder="enter username">
        <input type="submit" name = "Update!">
</form>



